torch==2.2.2+cu121
torchvision==0.17.2+cu121
torchaudio==2.2.2+cu121
--extra-index-url https://download.pytorch.org/whl/cu121

bitsandbytes
onnx
onnxruntime-gpu
transformers
optimum
accelerate
qai-hub
python-docx 
openpyxl 
python-pptx 
PyPDF2 
tqdm
